<h2>Add an item</h2>

<form novalidate>
    <div class="form__field">
        <label class="form__label" for="name">Name:</label>
        <input class="form__input" type="text" name="name" id="name" />
    </div>

    <div class="form__field">
        <label class="form__label" for="description">Description:</label>
        <input class="form__input" type="text" name="description" id="description" />
    </div>

    <div class="form__field">
        <label class="form__label" for="price">Price:</label>
        <input class="form__input" type="number" name="price" id="price" />
    </div>

    <div class="form__field">
        <label class="form__label" for="available">Available:</label>
        <input class="form__input" type="date" name="available" id="available" />
    </div>

    <div class="form__field">
        <label class="form__label" for="taxable">Taxable:</label>
        <input class="form__input" type="checkbox" name="taxable" id="taxable" value="1" />
    </div>

    <button class="form__button" type="submit">Add Stock Item</button>
</form>