* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: percentage(10 / 16);
}

body {
    height: auto;
    min-height: 100%;

    background: palette(wildSand, base);
    color: palette(scorpion, base);
    @extend %font-body;
    font-size: 1.6rem;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    @extend %font-headings;
    margin: 0;
}

h1 {
    font-size: 2.8rem;
    line-height: 1;
}

h2 {
    font-size: 2.4rem;
    line-height: (36 / 24);
    margin-bottom: 1.5rem;
}

.page-section {
    padding: map-get($keylines, small);
    margin: 0 auto;
    max-width: map-get($max-widths, section);
}