<tr>
    <td class="stock-table__cell">{{name}}</td>
    <td class="stock-table__cell">{{description}}</td>
    <td class="stock-table__cell">{{priceFormatted}}</td>
    <td class="stock-table__cell">{{availableFormatted}}</td>
</tr>